.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 10vh
}

.mainContainer h2{
    font-family: 'Kaushan Script', cursive;
    color: white;
    font-size: 1em;
}

.columnComponents{
    display: flex;
    flex-direction: column;
}

.columnComponents h2{
    color: #081134;
}

.rowComponents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.rowComponents>div {
    margin-right: 10px;
}

.rowComponents>div:last-child {
    margin-right: 0;
}

.button{
    background-color: #f84d50;
    height: 2.5rem;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 0.5em 2em;
    cursor: pointer;
    outline: none;
    margin-top: 1.4em;
    font-size: 1rem;
}