.mainContainer {
    background-color: #f1f1f1;
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: relative;
    left: -3%;
}

.searchContainer {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.mainContainer h2{
    color: #081134;
}

.searchInput {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    font-size: 16px;
    border-radius: 5px;
    background-color: white;
}

.searchIcon {
    position: absolute;
    right: 20px;
    color: #999;
    font-size: 18px;
    pointer-events: none;
}

.searchInput::placeholder {
    color: #aaa;
}