.mainContainer{
    display: flex;
    flex-direction: column;
    color: #081134;
}

.rowContent{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    align-items: flex-start;
}

.bigImage{
    height: 500px;
    object-fit: cover;
    width: 95%;
}

.otherImages{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 27px;
}

.smallImage{
    width: 22%;
    min-height: 200px;
    object-fit: cover;
}

.mapAndWeather {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mapAndWeather h2{
    font-size: 1.4rem;
    font-weight: 800;
}

.map {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    flex-shrink: 0;
}

.weather{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    color: white;
    flex-shrink: 0;
    padding: 8%;
    background-color: #f1f1f1;
    color: #081134;
    gap: 15px;
}

.aboutContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.aboutContainer h2{
    font-size: 1.6rem;
    font-weight: 900;
}

.aboutContainer p{
    font-size: 1.1rem;
    width: 70%;
    color: #a4a6ac;
}

.basicContainer h2{
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 15px;
}

.infos{
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #f1f1f1;
    width: 70%;
    justify-content: space-between;
}

.rowItems {
    display: grid;
    grid-template-columns: 150px 1fr;
    width: 100%;
    align-items: center;
    gap: 12em;
}

.infos p {
    font-size: 1.1rem;
    color: #7f8185;
    margin: 0;
}

.infos strong {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
    text-align: left;
}

.seeAll{
    padding-top: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 93.4%;
}

.seeAll button{
    transition: all 0.7s;
}

.seeAll button:hover{
    color: #f84d50;
}

.seeAll h1{
    font-size: 2rem;
    font-weight: 900;
}

.seeAll button{
    color: #081134;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    background-color: transparent;
}

.seeAll .icon{
    margin-left: 8px;
    position: relative;
    top: 2px;
}

.swiperWrapper {
    position: relative;
    padding-right: 10%;
}

.popularToursCarousel {
    width: 75vw;
    height: 57vh;
    display: flex;
    margin: 4em auto;
}

.rowItemsWeather{
    display: grid;
    grid-template-columns: 140px 1fr;
    width: 100%;
    align-items: center;
    gap: 1em;
}

.horizontalLine{
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
}