DATABASE_URL=your_db_url
PORT=your_port

#serviceAccountKey.json Fake Example
{
  "type": "service_account",
  "project_id": "fakeExample-2421a",
  "private_key_id": "f3b7d89c1a54e67f0b2d3a4e5c6f7b8a9d1c2e3f",
  "private_key": "-----BEGIN PRIVATE KEY-----\nf3b7d89c1a54e67f0b2d3a4e5c6f7b8a9d1c2e3f/f3b7d89c1a54e67f0b2d3a4e5c6f7b8a9d1c2e3f/f3b7d89c1a54e67f0b2d3a4e5c6f7b8a9d1c2e3f/f3b7d89c1a54e67f0b2d3a4e5c6f7b8a9d1c2e3f/f3b7d89c1a54e67f0b2d3a4e5c6f7b8a9d1c2e3f=\n-----END PRIVATE KEY-----\n",
  "client_email": "firebase-adminsdk-dwj43@fakeExample-2421a.iam.gserviceaccount.com",
  "client_id": "104819484758473934",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-dlnm3%40fakeExample-2421a.iam.gserviceaccount.com",
  "universe_domain": "googleapis.com"
}