.image {
    width: 800px;
    height: 450px;
    object-fit: cover;
}

.mainContainer{
    display: flex;
    flex-direction: column;
}

.rowBook{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.imageContainer {
    position: relative;
    width: 75%;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.buttonContainer {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    gap: 10px;
}

.buttonIcon{
    width: 15px;
    height: 15px;
    margin-left: 8px;
    position: relative;
    top: 2.3px;
}

.button {
    padding: 6px 25px;
    background-color: #f1f1f1;
    color: #062b52;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #f84d50;
    color: white;
}


.placeDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 75%;
}

.locate{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.share{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.horizontalLine{
    width: 100%;
    height: 1px;
    background-color: #cecdcd;
    margin: 20px 0;
    border: none;
    width: 75%;
}

.rowItems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin-top: 5px;
}
.rowItems span,
.rowItems strong {
    flex: 1;
}

.rowItems strong{
    color: #081134;
}

.locate p, .priceColor{
    color: #f84d50 !important;
}

.titleH1{
    color: #081134;
    font-weight: 900;
    margin-top: 10px;
}

.icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.icon:hover{
    background-color: #f84d50;
}

.OverviewContainer{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.OverviewContainer h2{
    color: #081134;
    font-weight: 900;
    margin-bottom: 10px;
}

.OverviewContainer p{
    color: #888888;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 1.2rem;
    margin-top: 5px;
}

.OverviewContainer p:nth-of-type(2) {
    margin-top: 30px;
}

.mapContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 3rem;
}

.mapContainer h2{
    color: #081134;
    font-weight: 900;
}

.maps{
    width: 100%;
    height: 500px;
    margin-top: 10px;
}

.reviewForm{
    padding-top: 5vh;
}

.reviewsContainer{
    padding-top: 5vh;
}

.reviewsContainer h2{
    color: #081134;
    font-weight: 900;
    margin-bottom: 10px;
}

.mainRate{
    background-color: #f1f1f1;
    margin-top: 20px;
    height: 250px;
    width: 75%;
    position: relative;
}

.rate{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f84d50;
    color: white;
    height: 200px;
    justify-content: center;
    width: 17%;
    align-items: center;
    position: absolute;
    bottom: 22px;
    left: 22px;
}

.rate h1{
    font-size: 3rem;
    font-weight: 700;
}

.iconStar{
    margin-right: 7px;
}


.showingNumber{
    padding-top: 5vh;
    color: #081134;
}

.mainCommentContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    border: 1px solid #cecdcd;
    min-height: 220px;
    width: 75%;
    justify-content: center;
}

.comment {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 15px;
    width: 80%;
}

.profilePic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.commentContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.commentDate {
    font-size: 0.9rem;
    color: #081134;
}

.commentAuthor {
    font-weight: bold;
    color: #081134;
}

.commentText {
    color: #081134;
    font-size: 17px;
    line-height: 1.4;
}

.firstReview {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stars {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    color: #FFF;
    height: 25px;
    width: 53px;
    background-color: #f84d50;
    border-radius: 7px;
    margin-right: 10px;
    position: relative;
    bottom: 10px;
}

.stars img {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-top: 4px;
}

.stars p {
    color: #FFF;
    font-size: 1rem;
    margin-left: 5px;
    margin-top: 3px;
}