.searchContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 20%;
    z-index: 1;
    margin-top: -45px;
}

.content {
    padding: 0 15%;
    position: relative;
    top: 100px;
    height: 140vh;
}

.secondContent{
    position: relative;
    bottom: 30vh;
}