.mainContainer h1{
    font-size: 4rem;
    font-weight: 700;
}

.rowComponent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 
    20px;
}

.rowComponent p{
    margin-left: 5px;
    font-size: 1.2rem;
}

.changeColor{
    color: #f84d50;
}

