.searchContainer{
    position: absolute;
    display: flex;
    justify-content: center;
    left: 20%;
    margin-top: 20px;
    z-index: 1;
    margin-top: -55px;
}

.textOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
}

.imageContainer {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imageContainer img {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(0.3);
}

.topDestinationContainer{
    height: 80vh;
    margin-bottom: 10vh;
}

.popularTours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.rowLine{
    display: flex;
    flex-direction: row;
}

.popularTours h2{
    color: #f84d50;
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;
}

.popularTours h1{
    font-size: 3rem;
    color: #081134;
}

.horizontalLine{
    border: 1px solid #f1f1f1;
    width: 76%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    right: 2%;
}

.statistics{
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
    padding-right: 10%;
    padding-left: 5%;
    padding-bottom: 4vh;
}

.mainPopular{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 228, 228);
}

.topAttractionsContainer{
    display: flex;
    height: 75vh;
    flex-direction: row;
    width: 100%;
    padding-right: 10%;
    padding-left: 15%;
}

.chooseUs{
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 10vh;
}

.tourTypes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials{
    display: flex;
    background-color: rgb(228, 228, 228);
    height: 80vh;
    margin-bottom: 10vh;
    align-items: center;
    justify-content: center;
}

.travelGuideContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10vh;
    flex-wrap: wrap;
    gap: 40px;
}

.iconsComponent{
    margin-top: 5vh;
    background-color: rgb(228, 228, 228);
    align-items: center;
    justify-content: center;
    height: 20vh;
    position: relative;
    align-content: center;
}

.horizontalLineTexts{
    width: 120px;
    background: linear-gradient(#c9c9c9, #c9c9c9) center/100% 1px no-repeat;
    margin: 0 15px;
}

.swiperWrapper {
    padding-top: 50px;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
}

.swiperWrapperTourType {
    padding-top: 50px;
    position: relative;
    padding-bottom: 90px;
    padding-left: 10%;
    padding-right: 10%;
}

.popularToursCarousel{
    width: 70vw;
    height: 55vh;
    display: flex;
    margin: 4em auto;
}

.TourTypeCarousel{
    width: 75vw;
    height: 30vh;
    display: flex;
    margin: 4em auto;
}

.swiperContainerTesminonials{
    position: relative;
}