.mainContainer{
    padding-right: 10%;
    padding-left: 10%;
}

.details{
    display: flex;
    flex-direction: column;
}

.alsoLike h1{
    text-align: center;
    color: #081134;
    font-weight: 900;
}

.tours{
    display: flex;
    flex-direction: row;
}