.mainContainer{
    padding-right: 10%;
    padding-left: 10%;
}

.details{
    display: flex;
    flex-direction: column;
}

.alsoLike{
    padding-top: 10vh;
}

.alsoLike h1{
    text-align: center;
    color: #081134;
    font-weight: 900;
}

.tours{
    padding-top: 3vh;
    display: flex;
    flex-direction: row;
    padding-bottom: 15vh;
}