.mainContainer{
    padding-right: 10%;
    padding-left: 10%;
}

.details{
    display: flex;
    flex-direction: column;
}

.alsoLike{
    padding-top: 10vh;
}

.alsoLike h1{
    text-align: center;
    color: #081134;
    font-weight: 900;
    position: relative;
    top: 25px;
}

.tours{
    padding-top: 3vh;
    display: flex;
    flex-direction: row;
    padding-bottom: 15vh;
}

.swiperWrapper {
    position: relative;
    padding-right: 10%;
}

.popularToursCarousel {
    width: 75vw;
    height: 57vh;
    display: flex;
    margin: 4em auto;
}