.mainContainer {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 69%;
    cursor: pointer;
}

.mainContainer img {
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.mainContainer p{
    color: gray;
    margin-bottom: 7px;
}

.country{
    margin-top: 12px;
    position: relative;
    right: -3%;
}

.textsContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    background-color: #f3f3f3;
    padding: 10px;
    box-sizing: border-box;
}

.titleContainer{
    width: 98%;
    position: relative;
    right: -3%;

    transition: all 0.7s;
}

.titleContainer:hover{
    color: #f84d50;
}

.stars{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    color: #FFF;
    height: 25px;
    width: 53px;
    background-color: #f84d50;
    border-radius: 7px;
    margin-right: 10px;
    position: relative;
    left: -15%;
}

.stars img{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-top: 4px;
}

.stars p{
    color: #FFF;
    font-size: 1rem;
    margin-left: 5px;
    margin-top: 3px;
}

.reviews{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    align-items: center;
    position: relative;
    right: -10%;
}

.reviewP{
    margin-top: 2.7vh;
    position: relative;
    left: -16%;
}

.reviewQ {
    margin-top: 2.7vh;
}

.firstReview{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.days{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.days img{
    width: 15px;
    height: 15px;
    margin-right: 4px;
    margin-top: 3.1vh;
    margin-bottom: 12px;
}

.price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-top: 8px;
    
}

.price strong{
    font-size: 1.2rem;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 3px;
    position: relative;
    right: -35%;
}

.price p{
    font-size: 1rem;
    margin-bottom: 3px;
    position: relative;
    left: 3%;
}

.horizontalLine {
    margin-top: 5px;
    border: 1px solid rgba(201, 201, 201, 0.5);
    width: 100%;
}