.searchContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 20%;
    margin-top: 20px;
    z-index: 1;
    margin-top: -55px;
}

.content{
    padding: 10vh 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mainPage{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.allTours{
    display: flex;
    flex-direction: row;
    left: 26%;
    position: absolute;
    top: 135px;
    width: calc(100% - 27%);
    flex-wrap: wrap;
}

.popularTourItem {
   width: 439px;
    margin: 10px;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.space{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.rowContent{
    display: flex;
    flex-direction: row;
}

.rowFilters{
    display: flex;
    flex-direction: row;
    width: 80%;
    color: #081134;
    position: relative;
    left: 65px;
    justify-content: space-between;
}

.rowFilters select{
    position: relative;
    width: 200px;
    height: 35px;
    border-radius: 7px;
}

.rowFilters p{
    position: relative;
    top: 7px;
}

.rowFilters span{
    position: relative;
    right: 15px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    bottom: 70px;
    font-size: 1.1rem;
    color: #081134;
    left: 170px;
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
}

.pagination li a {
    padding: 10px 14px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 50%;
}

.active a {
    background-color: #f84d50;
    color: white;
    border: 1px solid gray;
    border-radius: 50%;
}